
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  width: 100vw;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.App {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App::after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: url("./assets/bg.jpg") no-repeat;
  opacity: 0.5;
  content: "";
  background-size: cover;
}
.header {
  font-weight: bold;
  font-size: 70px;
  margin-bottom: 50px;
  color: green;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
}
form, .header{
    display: flex;
    justify-content: center;
    align-items: center;
}
form>input{
    background-color: #f7fffe;
    border: 2px solid green;
    height: 30px;
    width: 400px;
    border-radius: 5px;
}
form>button{
    position: relative;
    right: 35px;
    color: green;
    background: #f7fffe;
    height: 30px;
    width: 30px;
    border: none;
    font-size: 25px;
    cursor: pointer;
}
form>button:focus{
    outline: none;
}
.select>select{
    height: 36px;
    border: 2px solid green;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    color: green !important;
    padding: 0 !important;
}
.select>select:focus{
    outline: none;
}
option{
  height: 30px;
}
.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .todo-list {
    min-width: 30%;
    list-style: none;
  }
  
  .todo {
    margin-top: 20px;
    background: white;
    font-size: 1.5rem;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 1s ease;
    width: 500px;
    height: 30px;
    border-radius: 5px;
  }
  .filter-todo {
    padding: 1rem;
  }
  .todo li {
    flex: 1;
  }
  
  .trash-btn,
  .complete-btn {
    background: #ff6f47;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    height: 30px;
  }
  
  .trash-btn:focus,
  .complete-btn:focus{
    outline: none;
  }
  .complete-btn {
    background: rgb(11, 212, 162);
  }
  .todo-item {
    padding: 0rem 0.5rem;
  }
  
  .fa-trash,
  .fa-check {
    pointer-events: none;
  }
  
  .fall {
    transform: translateY(10rem) rotateZ(20deg);
    opacity: 0;
  }
  
  .completed {
    text-decoration: line-through;
    opacity: 0.5;
  }

  